
body {
  background-color: black;
  color: purple;
  font-family: "Passion One";
  margin-top: 25px;
}

.profilePic {
  display: block;
  margin: auto;
  margin-bottom: 15px;
  width: 75%;
}

.text-container {
  margin: 15px 15px;
  padding: 20px 55px 0 55px;
  border: double 2px purple;
}

.quote {
  text-align: center;
}

a {
  color: white;
}